<h1>
  Sharon & Todd
</h1>

<%= image_tag 'sharon-todd-sunset.jpg' %>

<div class='date-header'>
  April 13, 2013
</div>

<div class='section'>
  <h3>Our Story</h3>

  <%= (Date.new(2013, 4, 13) - Date.today).to_i %> days left till our Wedding Celebration!
</div>

<div class='section'>
  <h3>Vendors</h3>

  <ul>
    <li class='vendor'><%= link_to "Dorothy's Floral Studio", 'http://www.dorothysfloralstudio.com/', html_options = { title: "Dorothy's Floral Studio", target: 'blank' } %></li>
    <li class='vendor'><%= link_to 'Kzoom Wedding Videography', 'http://www.kzoomweddings.com/', html_options = { title: "Kzoom Wedding Videography", target: 'blank' } %></li>
    <li class='vendor'><%= link_to 'Loon Lake Photography', 'http://www.loonlakephotography.com/', html_options = { title: "Loon Lake Photography", target: 'blank' } %></li>
    <li class='vendor'><%= link_to 'Boonzaaijer Bakery', 'http://boonzaaijerbakery.com/', html_options = { title: "Boonzaaijer Bakery", target: 'blank' } %></li>
    <li class='vendor'><%= link_to 'Mobile Music DJ', 'http://www.mobilemusicdj.com/', html_options = { title: "Mobile Music DJ", target: 'blank' } %></li>
    <li class='vendor'><%= link_to "David's Bridal", 'http://www.davidsbridal.com/', html_options = { title: "David's Bridal", target: 'blank' } %></li>
  </ul>
</div>

<div class='section'>
  <h3>Accomodations</h3>

  <p>
    Here is a collection of information links we thought may be helpful regarding hotels, restaurants and things to do and see while visiting Kalamazoo.  If you are looking for something specific, please let us know! For all hotels listed, we have reserved a block of rooms at a discounted rate.  Please be sure to mention you are with the Cabansag/Warstler wedding in order to enjoy the discount. 
  </p>


  <li>
  Radisson Plaza Hotel
  100 West Michigan Ave.
  Kalamazoo, MI 49007 
  269-343-3333
  Within walking distance to the reception. Hotel has a free internet access in business center, pool, hot tub, fitness center, and free airport shuttle. 

  Parking:
  Valet $20/day
  Ramp parking $15/night
  Self parking in hotel's attached ramp is also available at an hourly rate of $2.00 with a $20.00 per day max.
  Room rate: $159/night. Tax not included.
  Rooms must be booked before March 22, 2013. Book early as this hotel often sells out.

  http://www.radissonkzoo.com/
  </li>


  <li>
  Four Points by Sheraton
  3600 East Cork Street
  Kalamazoo, Mi
  49001 
  269-385-3922

  Located about 4 miles (10 minutes) from the reception. This room includes free wireless internet.  Hotel has a pool, fitness center, and free airport shuttle. 

  Parking: Free
  Room rate $89/night. Tax not included.
  A block of rooms have been reserved under Cabansag/Warstler wedding. Rooms must be book by March 15, 2013.

  http://www.fourpointskalamazoo.com/
  </li>

</div>
