<div class='container'>

  <div class="bump"></div>

  <div class="sixcol">
    <h3 class="nomar">Reception</h3>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; margin-top:3px;">
      <%= link_to 'Cityscape Events', 'http://www.millenniumrestaurants.com/cityscape-events/' %>
    </p>
    <p style="line-height:1.8em;">
    125 South Kalamazoo Mall<br />
    Kalamazoo, Michigan
    </p>
    <!-- <p style="color:#68bca5;">See map to the right. →</p> -->
    <p><span style="color:#000; font-size:16px;">April 14, 2013 at 5:00pm</span><br></p>
  </div>

  <div class="directions">
    <div style="border:5px solid #cbd500;">
      <iframe width="370" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;q=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&amp;ie=UTF8&amp;hq=&amp;hnear=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&amp;gl=us&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
    <p><%= link_to "View the larger map", "https://maps.google.com/maps?hl=en&q=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&ie=UTF8&hq=&hnear=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&gl=us&t=m&view=map" %></p>
  </div>

  <div style="clear:both;">&nbsp;</div>
  
  <div class="bump">&nbsp;</div>
  <div style="width:780px;margin-left:170px;margin-bottom:30px;">
    <div class="rule">&nbsp;</div>
  </div>
  <div class="bump">&nbsp;</div>

  <div class="sixcol">
    <h3 class="nomar">Hotels</h3>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; margin-top:3px;">
      <%= link_to 'Radisson Plaza Hotel', 'http://www.radissonkzoo.com' %>
    </p>
    <p style="line-height:1.8em;}">
      100 West Michigan Ave <br />
      Kalamazoo, Michigan<br />
      269.343.3333<br />
    </p>
    <!-- 
    <p>
      The Radisson is walking distance to the reception. They have a pool, fitness center, hot tub, free internet access in the business center, and free airport shuttle. Parking costs $20/day for valet and $15/day for ramp parking. Self parking in the hotel's attached ramp cost $2/hour with a $20/day max.
    </p>
    <p>
      Mention the Cabansag-Warstler wedding for a discounted room rate of $159/night (tax not included). Make sure to book before March 22, 2013 as this hotel often sells out.
    </p>
    -->
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; mrgin-top:3px;">
      <%= link_to 'Four Points by Sheraton', 'http://www.fourpointskalamazoo.com' %>
    </p>
    <p style="line-height:1.8em;">
      3600 East Cork Street<br />
      Kalamazoo, Michigan<br />
      269.385.3922<br />
    </p>
    <!-- 
    <p>
      Located about 4 miles or 10 minutes from the reception. The Four Points' rooms includes free wireless internet and the hotel has a pool, fitness center, and free airport shuttle. Parking is free!
    </p>
    <p>
      Mention the Cabansag-Warstler wedding for a discounted room rate $89/night (tax not included). Rooms must be booked by March 15, 2013. 
    </p>
    -->
  </div>


  <div style="clear:both;">&nbsp;</div>

  <div class="bump">&nbsp;</div>
  <div style="width:780px;margin-left:170px;margin-bottom:30px;">
    <div class="rule">&nbsp;</div>
  </div>
  <div class="bump">&nbsp;</div>

  <div class="sixcol">
    <h3 class="nomar">Vendors</h3>
  </div>

  <div class="directions">
    <ul class="details" >
      <li class="vendor"><%= link_to "Dorothy's Floral Studio", 'http://www.dorothysfloralstudio.com/', html_options = { title: "Dorothy's Floral Studio", target: 'blank' } %></li>
      <li class="vendor"><%= link_to 'Kzoom Wedding Videography', 'http://www.kzoomweddings.com/', html_options = { title: "Kzoom Wedding Videography", target: 'blank' } %></li>
      <li class="vendor"><%= link_to 'Loon Lake Photography', 'http://www.loonlakephotography.com/', html_options = { title: "Loon Lake Photography", target: 'blank' } %></li>
    </ul>
  </div>

  <div class="directions">
    <ul class="details" >
      <li class="vendor"><%= link_to 'Boonzaaijer Bakery', 'http://boonzaaijerbakery.com/', html_options = { title: "Boonzaaijer Bakery", target: 'blank' } %></li>
      <li class="vendor"><%= link_to 'Mobile Music DJ', 'http://www.mobilemusicdj.com/', html_options = { title: "Mobile Music DJ", target: 'blank' } %></li>
      <li class="vendor"><%= link_to "David's Bridal", 'http://www.davidsbridal.com/', html_options = { title: "David's Bridal", target: 'blank' } %></li>
    </ul>
  </div>

</div>
