<div class='container'>

  <div class="bump"></div>

  <div class="sixcol">
    <h3 class="nomar">Reception</h3>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; margin-top:3px;">Cityscape</p>
    <p style="line-height:1.8em;">
    125 South Kalamazoo Mall<br />
    Kalamazoo, Michigan
    </p>
    <p style="color:#68bca5;">See map to the right. →</p>
    <p><span style="color:#000; font-size:16px;">Directions:</span><br></p>
    <p>Directions lorem ipsum</p>
  </div>

  <div class="directions">
    <div style="border:5px solid #cbd500;">
      <iframe width="370" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;q=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&amp;ie=UTF8&amp;hq=&amp;hnear=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&amp;gl=us&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
    <p><%= link_to "View the larger map", "https://maps.google.com/maps?hl=en&q=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&ie=UTF8&hq=&hnear=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&gl=us&t=m&view=map" %></p>
  </div>

  <div style="clear:both;">&nbsp;</div>
  
  <div class="bump">&nbsp;</div>
  <div style="width:780px;margin-left:170px;margin-bottom:30px;">
    <div class="rule">&nbsp;</div>
  </div>
  <div class="bump">&nbsp;</div>

  <div class="sixcol">
    <h3 class="nomar">Hotels</h3>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; margin-top:3px;">
      <%= link_to 'Radisson Plaza Hotel', 'http://www.radissonkzoo.com' %>
    </p>
    <p style="line-height:1.8em;">
      100 West Michigan Ave <br />
      Kalamazoo, Michigan, 49007<br />
      (269) 343-3333<br />
    </p>
    <p>
      The Radisson is within walking distance to the reception.  They have a pool, hot tub, free internet access in the business center, fitness center, and free airport shuttle. Parking costs $20 per day for valet and $15 per day for ramp parking. Self parking in hotel's attached ramp is also available at an hourly rate of $2.00 with a $20.00 per day max.
    </p>
    <p>
      Room rate is $159 per night (tax not included). Rooms must be booked before March 22, 2013. Book early as this hotel often sells out. Mention the Cabansag-Warstler wedding for the discount.
    </p>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; mrgin-top:3px;">
      <%= link_to 'Four Points by Sheraton', 'http://www.fourpointskalamazoo.com' %>
    </p>
    <p style="line-height:1.8em;">
      3600 East Cork Street<br />
      Kalamazoo, Michigan, 49001<br />
      (269) 385-3922<br />
    </p>
    <p>
      Located about 4 miles or 10 minutes from the reception. This room includes free wireless internet.  Hotel has a pool, fitness center, and free airport shuttle. Parking is free.
    </p>
    <p>
      Room rate $89 per night (tax not included). Rooms must be book by March 15, 2013. Mention the Cabansag-Warstler wedding for the discount.
    </p>
  </div>


  <div style="clear:both;">&nbsp;</div>

  <div class="bump">&nbsp;</div>
  <div style="width:780px;margin-left:170px;margin-bottom:30px;">
    <div class="rule">&nbsp;</div>
  </div>
  <div class="bump">&nbsp;</div>

  <div class="sixcol">
    <h3 class="nomar">Vendors</h3>
  </div>

  <div class="directions">
    <ul class="details" >
      <li style="list-style-type:none; font-size:20px;"><%= link_to "Dorothy's Floral Studio", 'http://www.dorothysfloralstudio.com/', html_options = { title: "Dorothy's Floral Studio", target: 'blank' } %></li>
      <li style="list-style-type:none; font-size:20px;"><%= link_to 'Kzoom Wedding Videography', 'http://www.kzoomweddings.com/', html_options = { title: "Kzoom Wedding Videography", target: 'blank' } %></li>
      <li style="list-style-type:none; font-size:20px;"><%= link_to 'Loon Lake Photography', 'http://www.loonlakephotography.com/', html_options = { title: "Loon Lake Photography", target: 'blank' } %></li>
    </ul>
  </div>

  <div class="directions">
    <ul class="details" >
      <li style="list-style-type:none; font-size:20px;"><%= link_to 'Boonzaaijer Bakery', 'http://boonzaaijerbakery.com/', html_options = { title: "Boonzaaijer Bakery", target: 'blank' } %></li>
      <li style="list-style-type:none; font-size:20px;"><%= link_to 'Mobile Music DJ', 'http://www.mobilemusicdj.com/', html_options = { title: "Mobile Music DJ", target: 'blank' } %></li>
      <li style="list-style-type:none; font-size:20px;"><%= link_to "David's Bridal", 'http://www.davidsbridal.com/', html_options = { title: "David's Bridal", target: 'blank' } %></li>
    </ul>
  </div>

</div>
