<div class='container'>

  <div class="bump"></div>

  <div class="sixcol">
    <h3 class="nomar">Where/When</h3>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; margin-top:3px;">Celebration</p>
    <p>the celebration will begin at 5:00pm at cityscape events. the address is <strong>125 south kalamazoo mall,kalamazoo, michigan</strong>.</p>
    <p style="color:#68bca5;">see map to the right. →</p>
    <p><span style="color:#000; font-size:16px">Directions:</span><br></p>
Four Points by Sheraton
3600 East Cork Street
Kalamazoo, Michigan, 49001 
(269) 385-3922
Located about 4 miles or 10 minutes from the reception. This room includes free wireless internet.  Hotel has a pool, fitness center, and free airport shuttle. 

Parking: Free
Room rate $89/night. Tax not included.
A block of rooms have been reserved under Cabansag/Warstler wedding. Rooms must be book by March 15, 2013.

http://www.fourpointskalamazoo.com/
  </div>

  <div class="directions">
    <div style="border:5px solid #cbd500; margin-top:45px;">
      <iframe width="370" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;q=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&amp;ie=UTF8&amp;hq=&amp;hnear=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&amp;gl=us&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
    <p><%= link_to "View the larger map", "https://maps.google.com/maps?hl=en&q=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&ie=UTF8&hq=&hnear=125+South+Kalamazoo+Mall,+Kalamazoo,+MI&gl=us&t=m&view=map" %></p>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px; margin-top:3px;">Accomodations</p>
    <p>the celebration will begin at 5:00pm at cityscape events. the address is <strong>125 south kalamazoo mall,kalamazoo, michigan</strong>.</p>
    <p style="color:#68bca5;">see map to the right. →</p>
    <p><span style="color:#000; font-size:16px">Radisson Plaza Hotel:</span><br></p>
    <p>
    Radisson Plaza Hotel<br/>
    100 West Michigan Ave<br/>
    Kalamazoo, Michigan, 49007 <br/>
    (269) 343-3333<br/>
    </p>
    <p>
    Within walking distance to the reception. Hotel has a free internet access in business center, pool, hot tub, fitness center, and free airport shuttle. 

    Parking:
    Valet $20/day
    Ramp parking $15/night
    Self parking in hotel's attached ramp is also available at an hourly rate of $2.00 with a $20.00 per day max.
    Room rate: $159/night. Tax not included.
    Rooms must be booked before March 22, 2013. Book early as this hotel often sells out.

    http://www.radissonkzoo.com/
    </p>



  <div style="clear:both;">&nbsp;</div>

  <div style="width:780px;margin-left:170px;margin-bottom:30px;">
    <div class="rule">&nbsp;</div>
  </div>

  <div class="bump">&nbsp;</div>

  <div class="sixcol">
    <h3 class="nomar">Vendors</h3>
  </div>

  <div class="directions">
    <p style="color:#000; font-size:20px;marginheightgin-top:3px;">Vendors:</p>
    <ul class="details">
      <li><%= link_to "Dorothy's Floral Studio", 'http://www.dorothysfloralstudio.com/', html_options = { title: "Dorothy's Floral Studio", target: 'blank' } %></li>
      <li><%= link_to 'Kzoom Wedding Videography', 'http://www.kzoomweddings.com/', html_options = { title: "Kzoom Wedding Videography", target: 'blank' } %></li>
      <li><%= link_to 'Loon Lake Photography', 'http://www.loonlakephotography.com/', html_options = { title: "Loon Lake Photography", target: 'blank' } %></li>
      <li><%= link_to 'Boonzaaijer Bakery', 'http://boonzaaijerbakery.com/', html_options = { title: "Boonzaaijer Bakery", target: 'blank' } %></li>
      <li><%= link_to 'Mobile Music DJ', 'http://www.mobilemusicdj.com/', html_options = { title: "Mobile Music DJ", target: 'blank' } %></li>
      <li><%= link_to "David's Bridal", 'http://www.davidsbridal.com/', html_options = { title: "David's Bridal", target: 'blank' } %></li>
    </ul>
  </div>

</div>
</div>
<div style="clear:both;">&nbsp;</div>

Here is a collection of information links we thought may be helpful regarding hotels, restaurants and things to do and see while visiting Kalamazoo.  If you are looking for something specific, please let us know! For all hotels listed, we have reserved a block of rooms at a discounted rate.  Please be sure to mention you are with the Cabansag/Warstler wedding in order to enjoy the discount. 

