<!DOCTYPE html>
<html>

  <head>
    <title>Sharon and Todd</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Crete+Round" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= @page_name %>">
    <div class='top'>
      <%= image_tag 'sharon-todd-sunset.jpg' %>
    </div>

    <div class='bump'></div>
    <div style="clear:both;">&nbsp;</div>
    <div class='zag'></div>
    <div id='menu'>
      <li id='menunav'><%= link_to 'The Couple', '/', id:'homenav' %></li>
      <li id='menunav'><%= link_to 'Our Story', 'ourstory', id:'ourstorynav' %></li>
      <li id='menunav'><%= link_to 'Wedding Details', 'weddingdetails', id:'weddingdetailsnav' %></li>
      <li id='menunav'><%= link_to 'Registry', 'registry', id:'registrynav' %></li>
    </div>

    <div class='bump'></div>
    <%= yield %>

  </body>

</html>
